// @import "compass/css3";

// Spin animation
@keyframes spin {
  to { transform: rotate(360deg); }
}

.stroke-dotted {
  opacity: 0;
  stroke-dasharray: 4,5;
  stroke-width: 1px;
  transform-origin: 50% 50%;
  animation: spin 4s infinite linear;
  transition: opacity 1s ease, 
              stroke-width 1s ease;
}
.stroke-solid {
  stroke-dashoffset: 0;
  stroke-dashArray: 300;
  stroke-width: 4px;
  transition: stroke-dashoffset 1s ease, 
              opacity 1s ease;
}

.icon {
  transform-origin: 50% 50%;
  transition: transform 200ms ease-out;
}

// Hover
#play:hover {
  .stroke-dotted {
    stroke-width: 4px;
    opacity: 1;
  }
  .stroke-solid {
    opacity: 0;
    stroke-dashoffset: 300;
  }
  .icon {
    transform: scale(1.05);
  }
}


html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #30FF98;
  background: radial-gradient(#71EDB5, #30FF98);
}
#play {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
