<ion-header>
  <ion-toolbar>
    <ion-title>connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="register-card">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-input lines="inset" formControlName="email" type="text" name="email"></ion-input>
      <br>
      <ion-input lines="full" formControlName="password" type="password" name="password"></ion-input>
      <ion-button [disabled]="!loginForm.valid">se connecter</ion-button>
    </form>
    <a [routerLink]="['/inscription']" routerLinkActive="router-link-active">Sign Up</a>
  </ion-card>


</ion-content>