<ion-col class="col-parent"  size="11">
  <div class="bg-opa  info-container">
      <div *ngFor="let viewed of vieweds" class="mg-2 viewed">
        <img src="{{viewed.image}}" class="film-image" draggable="false" alt="{{viewed.name}}">
        <p>{{viewed.name}}</p>
      </div>
  </div>
</ion-col>
<ion-col class="col-parent"  size="11">
  <div class="bg-opa info-container">
      <div *ngFor="let started of starteds" class="mg-2 started">
        <img src="{{started.image}}" class="film-image" draggable="false" alt="{{started.name}}">
        <p>{{started.name}}</p>
      </div>
  </div>
</ion-col>