<ion-header>
  <ion-toolbar>
    <ion-title>inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="login-card">
    <form [formGroup]="registerForm" (ngSubmit)="register()" class="">
      <input type="text" formControlName="lastName" placeholder="Nom">
      <input type="text" formControlName="firstName" placeholder="Prénom">
      <!-- <input type="date" formControlName="birthDate"> -->
      <ion-datetime displayFormat="MM DD YY" placeholder="BirthDate" formControlName="birthDate"></ion-datetime>
      <input type="text" formControlName="email" placeholder="email">
      <input type="text" formControlName="nickName" placeholder="Pseudo">
      <input type="password" formControlName="password" name="password" placeholder="Mot de passe">
      <input type="password" name="passwordConfirm" placeholder="confirmation">
      <ion-button color="dark" [disabled]="!registerForm.valid">Inscription</ion-button>
    </form>
    <a [routerLink]="['/connexion']" routerLinkActive="router-link-active">Sign In</a>
  </ion-card>


</ion-content>