<ion-col  *ngIf="user" class="col-parent h-30" size="11">
  <div class="bg-opa col-parent info-container">
    <img class="photo-container" draggable="false" src="{{user.image}}" alt="profile image">
    <ion-col class="info-user-container" size="6">
      <span class="mg-2 firstname">{{ user.firstname }}</span>
      <span class="mg-2 lastname">{{ user.lastname }}</span>
      <span class="mg-2 from">{{ user.adress }}</span>
    </ion-col>
  </div>
</ion-col>
<ion-col *ngIf="!user" class="center" size="12">
  <ion-col class="col-parent" size="11">
      <div class="bg-opa col-parent info-container">
        <h2> Erreur au chargement du profil</h2> 
      </div>
  </ion-col>
</ion-col>