ion-app {
  display: flex;
  flex-direction: column;
  // background-color: black;
  height: auto;
}
.width {
  margin-left: 15vh;
}
.morning-fade   {
  background: #fff;
  background: linear-gradient(163deg,#0d0530 10%,#196d82 76%,#fff 95%);
}
