<ion-header>
  <ion-toolbar>
    <ion-title>video-stream</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="instructions">
    <video id="my_video_1" class="video-js vjs-default-skin" width="fill" height="fill" controls preload="none"
      poster='https://picsum.photos/640/200'
      data-setup='{ "aspectRatio":"640:300", "playbackRates": [1, 1.5, 2] }'>
      <source src='http://109.12.6.15:80/stream' type='video/mp4' />
    </video>
    <div class="buttons">
      <button (click)="makeVeryBig()">VeryBig</button>
      <button (click)="makeBig()">Big</button>
      <button (click)="makeSmall()">Small</button>
      <button (click)="makeNormal()">Normal</button>
      <button (click)="restart();">Restart</button>
      <button (click)="skip(-10)">Rewind</button>
      <button (click)="skip(10)">Fastforward</button>
    </div>
  </div>
</ion-content>
