<ion-header mode="ios" translucent="true">
  
</ion-header>
<div class="side-nav morning-fade">
  <div [routerLink]="[ '/accueil']" class="logo"><h1>C</h1></div>
  <div [routerLink]="[ '/accueil']" class="nav-buttons"><h4>Accueil</h4></div>
  <div [routerLink]="[ '/profile']" class="nav-buttons"><h4>Profile</h4></div>
  <div [routerLink]="[ '/video-stream']" class="nav-buttons"><h4>Streamer</h4></div>
</div>