ion-header  {
    display: flex;
    flex-direction: row;
}
.side-nav   {
    height: 100vh;
    width: 15vh;
    position: fixed;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo   {
    height: 15%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.logo h1    {
    color: #fff;
    font-size: 5em;
}
.nav-buttons    {
    height: 10%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-content: center;
    color: #fff;
    margin: 0.1em;
    text-align: center;
}
.nav-buttons:hover  {
    background-color: rgba(0, 0, 0, 0);
}