.main {
    display: flex;
    justify-content: center;
    height: 100%;
    
}

.center {
    display: flex;
    justify-content: space-around;
    align-self: center;
    flex-direction: column;   
    align-items: center; 
}

.bg-opa {
    display: flex;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.24);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.photo-container    {
    width: 20vw;
    height: 20vw;
    background-color: burlywood;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.info-user-container    {
    justify-content: center;
    height: 20vw;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    font-size: 3vw;

}
.mg-2   {
    margin: 2%;
}
.info-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.col-parent  {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.started    {
    font-size: 1.5vw;
    text-align: center;
}
.viewed {
    font-size: 1.5vw;
    text-align: center;
}
.film-image {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}