<ion-content>
  <div class="main morning-fade ">
    <ion-col class="center" size="12">
      
      <app-user-details></app-user-details>
      <app-user-list></app-user-list>

    </ion-col>
  </div>
</ion-content>