/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.morning-fade   {
  background: #fff;
  background: linear-gradient(140deg,#0d0530 10%,#196d82 66%,#fff 95%);
}
.morning-fade2   {
  background: #fff;
  background: linear-gradient(50deg,#0d0530 10%,#196d82 66%,#fff 95%);
}
.h-30 {
  height: 30%;
}
.h-20 {
  height: 20%;
}
.main {
  display: flex;
  justify-content: center;
  height: 100%;
  
}

.center {
  display: flex;
  justify-content: space-around;
  align-self: center;
  flex-direction: column;   
  align-items: center; 
}

.bg-opa {
  display: flex;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.24);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.photo-container    {
  width: 20vw;
  height: 20vw;
  background-color: burlywood;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.info-user-container    {
  justify-content: center;
  height: 20vw;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: 3vw;

}
.mg-2   {
  margin: 2%;
}
.info-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.col-parent  {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}